{% extends "base.html" %}
{% block page_title %}Days{% endblock %}
{% load filter %}
{% block content %}

    <table class="mdl-data-table mdl-shadow--2dp mdl-cell mdl-cell--4-col">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Day</th>
            <th>Event</th>
            <th>Kind</th>
            <th>During</th>
        </tr>
        </thead>
        <tbody>
        {% for day in days %}
            <tr onclick="load_entry('123')">
                <td class="mdl-data-table__cell--non-numeric">{{ day.date|date:'Y-m-d' }}</td>
                <td><a href="/entry/{{ day.uuid }}">{{ day.name }}</a></td>
                <td>{{ day.type|tag_day_type }}</td>
                <td>{{ day.date|daysince }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mdl-cell mdl-cell--8-col" id="entry_div">
        <div id="entry_spinner" class="mdl-spinner mdl-js-spinner is-active">

        </div>
    </div>
{% endblock %}