{% extends "base.html" %}
{% load filter %}
{% block page_title %}Entry List{% endblock %}
{% block content %}
    {% for entry in entries %}
        {#        <div>{{ entry.text }}</div>#}
        {#        <div>{{ entry.date }}</div>#}

        <div class="dayone-entry-card mdl-card mdl-shadow--2dp mdl-grid" onclick="load_entry_modal(this)">
            <div class="dayone-date mdl-cell mdl-cell--1-col mdl-color-text--grey-400"
                 dayone-date="{{ entry.date|date:'Y年m月d日 l H:i' }}">
                <div>{{ entry.date|date:'H:i' }}</div>
                <div>{{ entry.date.weekday|cnweek }}</div>
                <div class="dayone-day">{{ entry.date|date:'d' }}</div>
                <div>{{ entry.date.month }}月</div>
                <div>{{ entry.date.year }}年</div>
            </div>
            {% if entry.image %}
                <div class="dayone-entry-img mdl-cell mdl-cell--2-col"
                     style="background-image:url(/photo/{{ entry.uuid }})">
                </div>
            {% endif %}
            <div class="mdl-cell mdl-cell--8-col">
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    {{ entry.text|linebreaksbr }}
                </div>
                <div class="dayone-tag mdl-card__actions">
                    {% for tag in entry.tags %}
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent"
                           href="{{ tag|tagurl }}">
                            {{ tag }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block modal %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
    </div>
    <div class="modal-body">
        <img class="entry_img" src="/photo/3A8C5B6A5D9444CFAE0A26E6B6A244F2">
        <div class="dayone-entry-text"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
{% endblock %}